@model IEnumerable<IMS_Final_Version2.Models.dbModel.tblRequisitionSlip>

@{
    ViewBag.Title = "RequisitionSlip";
}

<h3>Requisition Slip Queue</h3>


<table class="table">
    <tr>
        <th>
            @Html.Raw("Requisition Date")
        </th>
        <th>
            @Html.Raw("Purpose")
        </th>
        <th>
            @Html.Raw("Category and Amount")
        </th>
        <th>
            @Html.Raw("Recommender Response")
        </th>
        <th>
           @Html.Raw("Director Response")
        </th>
        <th>
            @Html.Raw("Requisition Staus")
        </th>
        
        
        <th>
            @Html.Raw("Applicant User Name")
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    if (item.ApplicationStatus == "pending" && item.RecommenderResponse == "unseen") {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.RequisitionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssuingPurpose)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllInventoryNameWithAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecommenderResponse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DirectorResponse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationStatus)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.tblUser.UserName)
            </td>
            
            <td>
                @Html.ActionLink("See Details", "seeSpecificRequisitionSlipForm", new { id = item.RequisitionSlipId })

            </td>
        </tr>
    }

}

</table>
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        @Html.ActionLink("Back To Home", "defineRole", "System", null, new { @class = "btn btn-info" })

    </ul>
</div>