@model IEnumerable<IMS_Final_Version2.Models.dbModel.tblRequisitionSlip>

@{
    ViewBag.Title = "VerifyrequisitionSlip";
}

<h2>seeUncheckedRequisitionSlipDirector</h2>


<table class="table">
    <tr>
        <th>
            @Html.Raw("Date")
        </th>
        <th>
            @Html.Raw("Purpose")
        </th>
        <th>
            @Html.Raw("Name and Amount")
        </th>
        <th>
            @Html.Raw("Recommender Response")
        </th>
        
        
        
        
        <th>
            @Html.Raw("Applicant")
        </th>
        
        <th>
           @Html.Raw("Recommender")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{

    if (item.ApplicationStatus == "pending" && item.RecommenderResponse == "yes" && item.DirectorResponse == "unseen")
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RequisitionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssuingPurpose)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllInventoryNameWithAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecommenderResponse)
            </td>
            
            
            
           
            <td>
                @Html.DisplayFor(modelItem => item.tblUser.UserName)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.tblUser2.UserName)
            </td>
            <td>
                @Html.ActionLink("Details", "seeSpecificRequisitionSlipFormDirector", new { id = item.RequisitionSlipId })
            </td>
        </tr>
    }

}

</table>

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        @Html.ActionLink("Back To Home", "defineRole", "System", null, new { @class = "btn btn-info" })

    </ul>
</div>