@model IMS_Final_Version2.Models.dbModel.tblInventory

@{
    ViewBag.Title = "Article";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>New Article</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.InventoryName, "Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InventoryName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.InventoryName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InventoryDescription, "Description", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InventoryDescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.InventoryDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--<div class="form-group">
            <label for="file" class="control-label col-md-2">Photo</label>
            <div class="col-md-10">
                <input type="file" name="InventoryImage" id="file" style="width: 100%;" />
            </div>-->
        @*@Html.LabelFor(model => model.InventoryPicturePath, "Photo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InventoryPicturePath, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.InventoryPicturePath, "", new { @class = "text-danger" })
            </div>
                </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "IndexWithSectorId", new { sectorId = ViewBag.SectorId }, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}