@{
    ViewBag.Title = "sStoreInCharge";
}

<h2>Inventory Manager</h2>



<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Register Book", "Index", "Sectors")</li>
          
        
         <li>@Html.ActionLink("Set Recommender or Director", "SetRecommenderOrDirector", "System")</li>
        <li>@Html.ActionLink("Category", "ShowAllCategories", "Inventories")</li>
        <li>@Html.ActionLink("All Items", "ShowAllItems", "Items")</li>
        <li>@Html.ActionLink("Notification System", "GoToNotificationSystem", "System")</li>
        <li>@Html.ActionLink("Requisition System", "RequisitionSlipFirstInterface", "RequisitionSlips")</li>
    </ul>
</div>

