@{
    ViewBag.Title = "GotoRecommender";
}

<h6>,</h6>



@*<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("My profile", "Details", "Users")</li>
        <li>@Html.ActionLink("About IMS", "Create", "LeftPages")</li>
        <li>@Html.ActionLink("Logout", "Edit", "Items")</li>
    </ul>
</div>*@

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Category", "ShowAllCategories", "Inventories")</li>
        <li>@Html.ActionLink("All Items", "ShowAllItems", "Items")</li>
        <li>@Html.ActionLink("Notification System", "GoToNotificationSystem", "System")</li>
        <li>@Html.ActionLink("Requisition System", "RequisitionSlipFirstInterface", "RequisitionSlips")</li>
        <li>@Html.ActionLink("Requisition Slip Queue", "seeUncheckedRequisitionSlip", "RequisitionSlips")</li>
    </ul>
</div>