@model IEnumerable<IMS_Final_Version2.Models.dbModel.tblVouchar>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VoucharFilePath)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VoucharFilePath)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VoucharId }) |
            @Html.ActionLink("Details", "Details", new { id=item.VoucharId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VoucharId })
        </td>
    </tr>
}

</table>
