@model IEnumerable<IMS_Final_Version2.Models.dbModel.tblItem>

@{
    ViewBag.Title = "Items";
}
<link href="~/Content/Style.css" rel="stylesheet" />



<table class="table">
    <tr>
        <th>
            @Html.Raw("Description")
        </th>

        <th>
           @Html.Raw("Category")
        </th>
        <th>
            @Html.Raw("Picture")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        if (item.InventoryId == ViewBag.inventoryId && item.IsPicked==0)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemDescription)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.tblInventory.InventoryName)
                </td>
                <td class="inventoryImage">
                    <img src="@Url.Content("~/Images/MainImage.jpg")" alt="Picture is not available" />
                </td>

            </tr>
        }
    }

</table>

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        @Html.ActionLink("Back To Home", "defineRole", "System", null, new { @class = "btn btn-info" })

    </ul>
</div>